.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.nav-container a {
    padding: 10px;
    text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 800px) {
    .nav-container {
        font-size: smaller;
    }

    .nav-container a {
        padding: 5px;
    }
}

